/node_modules
/.vscode
/coverage
/.expo
.expo-shared
.editorconfig
.env*
.eslintrc.js
.gitignore
.prettierc
.watchmanconfig
app.json
bable.config.js
commitlint.config.js
env.js
Gemfile
Gemfile.lock
index.js
jest.config.js
lint-staged.config.js
package.json
project.d.ts
README.md
release.config.js
tailwind.config.js
TODO.md
tsconfig.json
yarn.lock